.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 1250px;
    color:rgb(69, 124, 207);
    
    
    
    
    }

.title1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 50px;
    font-size: 55px;
    color:rgb(227, 65, 64);
        
}

.img1{
     margin-top: 5px;
     margin-left: 720px;
     height: 350px;
     width: 600px;
}
    
.w{
    margin-left: 880px;
}
                
.vedio{
    font-family: Arial;
    margin-left: 38px;
    font-size: larger;
       
       
}

.link{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        
        
}

.i{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 13px;
    font-size: x-large;
    font-weight: bold;
    color:#85BB65 ;
        
        
}

.table{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: larger;
        font-weight: bold;
        font-size: 35px;
        
        
          
        
}
       
        
.de{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: larger;    
        
}
        
        
.cr7{
    font-style: italic;
    font-size:30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 450px;
    color:  rgb(227, 65, 64);
        
        
}


.cr17{
     margin-left: 840px;
     width: 390px;
     height: 390px;
     margin-top: -120px;
           
            
}

.cr177{
    margin-left: 930px;
    
        
        
    }
        
        
.inesh{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(69, 124, 207);
    width: 800px;
    font-size: 19px; 

        
        
}
        
        
.prime{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(227, 65, 64);
    font-size: 27px;
    text-align:center;
    margin-top: 00px;
        
        
        
}
       
.n{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(69, 124, 207);
    width: 860px;
    font-size: 19px;
        
        
        
}
        
        
        
        
.home{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    margin-left: 450px; 
    color: rgb(44, 144, 8);

}


        
.map{
    margin-left: 0px;
        
        
}
        
        
.j{
    margin-left: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
}
        
        
        
        
        
        
        
.q{
            
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(227, 65, 64);
    font-size: x-large;
        
        
        
}
        

.skin{
                
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
        
        
        
        
        
        
}
    
        
.car{
                
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
        
        
        
        
        
}
        
        
.g{
                
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
        
        
        
}
        
        
.tat{
        
    margin-left: 460px;
    width: 550px;
    height: 300px;
        
}

body{
    background-color:
    #ffffff;
}

.prime2{
    margin-left: 1000px;
    height: 400px;
    width: 300px;
    margin-top: -190px;
}

.big{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    color: rgb(227, 65, 64);
}


.meat{
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgba(124, 115, 112, 0.648);
    font-size: 30px;
    margin-left: 0px;
}  

.iphone{
    margin-left: 300px;
}

.udaya{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(69, 124, 207);
}

.lal{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    color:  rgb(227, 65, 64);
}

.fish{
    margin-left: 00px;
    height:424px;
    width: 1420px;
    margin-top: -880px;

}

.ineshkavi{
    height: 150px;
    width: 1420px;
}

#flex-contanier{
    display: flex;
    background-color: rgb(255, 255, 255);
    /*flex-direction: row-reverse;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
 
}


#flex-contanier >div >img{
    width: 100%;
    height: 100%;
}


#flex-contanier >div {
    background-color: bisque;
    width: 150px;
    height: 150px;
    margin: 20px;
    
}

.cel{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 13px;
    font-size: x-large;
    font-weight: bold;
    color:#000000 ;
}

.body{
    display: flex;
    background-color: rgb(255, 255, 255);
    /*flex-direction: row-reverse;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
#grid-contanier{
    display: grid;
    background-color: rgb(33, 207, 255);
    grid-template-columns:  repeat(3,auto);
    gap: 10px;/*space between grid items*/
    padding: 10px;
}


#grid-contanier >div {
    background-color: rgb(255, 255, 255);
    padding: 15px;
   

}


#grid1{
    grid-row-start: 1;
    grid-row-end: 3;

}



#grid8{
    grid-column: span 3;
}

.ball{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.football{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #ff0000;
    
}

#flex-contanier2{
    display: flex;
    background-color: rgba(255, 36, 36, 0.876);
    flex-direction: column;
    padding: 20px;
    row-gap: 10px;
}
#flex-contanier2 > div {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}





@media only screen and (min-width: 1000px){
    #flex-contanier2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: rgba(255, 36, 36, 0.876);
        row-gap: 20px;
        column-gap: 45px;

    }


    #flex-contanier2 > div {
        width: 190px;
        height: 190px;
        background-color: rgb(255, 255, 255);

}

}
.random{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #000000;

}

.j{
    color:rgb(8, 10, 82);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: bold;
}
